<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  	<meta charset="UTF-8">
    <title>Registrarse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
  		<main>
  			<div class="container">
	  			<div class="card text-dark bg-light my-5 mx-auto" style="max-width: 22rem;">
				  	<div class="card-header">
				  		<h2 class="text-center">Registro</h2>
				  	</div>
					<div class="card-body">
						<div th:if="${message != null}">
							<div th:classappend="'alert-' + (${alertType != null} ? ${alertType} : info)" th:text="${message}" class="alert" role="alert"></div>
						</div>
						<form th:action="@{/register/save}" method="POST" th:object="${user}">
					    	<label for="username" class="form-label">Usuario</label>
							<input type="text" id="username" name="username" class="form-control" autofocus="autofocus" /> <br />
							<label for="password" class="form-label">Contraseña</label>		
							<input type="text" id="password" name="password" class="form-control"> <br />
							<label for="email" class="form-label">Email</label>
					    	<input type="email" id="email" name="email" class="form-control" /> <br />
							<label for="phone" class="form-label">Teléfono</label>
					    	<input type="text" id="phone" name="phone" class="form-control" /> <br />
			      			<button type="submit" class="btn btn-primary">Crear cuentra</button>
			    		</form>
			    		<div class="text-center mt-4">			    		
				    		<a th:href="@{/login}">¿Ya tienes cuenta?</a>
			    		</div>
					</div>
				</div>
			</div>
  		</main>
    	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
	</body>
</html>